<!DOCTYPE html>
<html>
  <head>
    <title>WebEx Demo Homepage</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' 
    	  href='https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css'>
  </head>
  <body>
    <div class="ui container">
      <h1>Welcome to WebEx Demo Homepage</h1>
      <h3>1. If you want to create a new request, click the following button</h3>
      <button class="ui primary button"
	      onClick="javascript:window.location.href='/new'">
	Create
      </button>

      <h3>2. If you want to check the status of your submitted request, enter your username and click the following button</h3>
      <div class="field">
	<label>user</label>
	<input id="username" type="text" name="user" placeholder="username">
      </div>
      <button class="ui primary button"
	      onClick="javascript:window.location.href='/user/'+document.getElementById('username').value">
	Check
      </button>
    </div>
  </body>
</html>
