<!DOCTYPE html>
<html>
  <head>
    <title>Demo Homepage</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>HelloWorld</h1>
    <p>Welcome here!</p>
  </body>
</html>
