<!DOCTYPE html>
<html>
  <head>
    <title>Create Request Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' 
    	  href='https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css'>
  </head>
  <body>
    <div class="ui container">
      <h3>Create Request</h3>

      <form class="ui form">
	<div class="field">
	  <label>URL to download recording (.mp4)</label>
	  <input type="text" name="url" placeholder="">
	</div>
	<div class="field">
	  <label>Password</label>
	  <input type="text" name="password" placeholder="">
	</div>
	<div class="field">
	  <label>SR#</label>
	  <input type="text" name="sr" placeholder="">
	</div>
	<div class="field">
	  <label>User Id</label>
	  <input type="text" name="user" placeholder="">
	</div>

	<button class="ui button" type="submit">Submit</button>
      </form>

    </div>
  </body>
</html>
