<!DOCTYPE html>
<html>
  <head>
    <title>Create Request Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' 
    	  href='https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css'>
  </head>
  <body>
    <div class="ui container">
      <h3>List of requests</h3>
      <table class="ui celled table">
	<thead>
	  <tr>
	    <th>RequestId</th>
	    <th>DownloadUrl</th>
	    <th>SR#</th>
	</tr></thead>
	<tbody>
	  <% for (var i = 0; i < tasks.length; i++) { %>
	  <tr>
	    <td>
	      <%= tasks[i]._id %>
	    </td>
	    <td>
	      <%= tasks[i].url %>
	    </td>
	    <td>
	      <%= tasks[i].sr %>
	    </td>
	  </tr>
	  <% } %>
	</tbody>
      </table>
    </div>
  </body>
</html>
